doctype html
html
    head
        title express practice
    body
        h1 #{title}
        form(method = 'POST', action = '/articles/add')

            div.form-group
                label Title:
                input.form-control(name = 'title', type = 'text')
            div.form-group
                label Author:
                input.form-control(name = 'author', type = 'text')
            div.form-group
                label Body:
                textarea.form-control(name = 'body')
            input.btn.btn-primary(type = 'submit', value = 'Submit')



