doctype html
html
    head
        title express practice
        link(rel = 'stylesheet' href = '/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        .container
            block content
            br
            br
            footer
                p Copyright &copy;2017
